.game-title {
  h2 {
    color: #001514;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
  }

  .hot {
    color: #d10000;
  }

  .cold {
    color: #23568f;
  }
}
